<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/type.css">
    <link rel="stylesheet" href="../css/problem_solving.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/type.js"></script>
</head>

<body>
    <div class="container">
        <div class="heading p-subTitle">Data Dash</div>
        <h1 style="margin-top: 50px;">
            <a href="" class="typewrite" data-period="2000" data-type='[ "ANALYZE ", "APPLY ", "ACHIEVE " ]'>
                <span class="wrap"></span>
            </a>
        </h1>
        <div class="rule aos" data-aos="fade-right" data-aos-duration="1000">RULES</div>
        <div class="row sans">
            <div class="section-3">
                <div class="text-wrapper" style="font-size: 2rem;">
                    <div data-aos="fade-up-right" data-aos-duration="1000">
                        <span><b>Team Event</b></span><br>
                        <span><b>No of rounds:</b> 2</span><br>
                        <span><b>Constraints:</b> Exactly 2 Participants of same batch & year</span><br><br>
                        <span><b>BATCH-A:</b></span><br>
                        <span>Monday--Wednesday--Friday</span><br><br>
                        <span><b>BATCH-B:</b></span><br>
                        <span>Tuesday--Thursday--Saturday</span><br><br>
                        <span><b>ROUND 1:</b> Entry level round</span><br>
                    </div>

                    <div data-aos="fade-up-left">
                        <ul>
                            <br>
                            <li><span>In this round, participants will be asked to solve logical puzzles and answer basic data analytics related questions.</span></li>
                            <li><span>Top scorers in this round will proceed to the finals.</span></li>
                        </ul>
                    </div>

                    <br>
                    <div data-aos="fade-up-right">
                        <span><b>ROUND 2:</b> Final Round</span><br>
                    </div>
                    <div data-aos="fade-up-left">
                        <ul>
                            <br>
                            <li><span><b>II Years:</b></span></li>
                            <span>In the final round, participants will be given a dataset and a problem statement. The participants will have to derive insights from the given dataset. Points will be awarded based on the number of insights found. Those with the highest number of insights will be the winners.</span>
                        </ul>
                    </div>
                    <div data-aos="fade-up-right">
                        <ul>
                            <br>
                            <li><span><b>III Years:</b></span></li>
                            <span>In the final round, participants will be given a dataset and a problem statement. The participants will have to implement the solution and based on the results obtained, points will be awarded to the students.
                                </span>
                        </ul>
                    </div>
                    <br>
                    <a style="text-decoration: none;" href="https://docs.google.com/forms/d/e/1FAIpQLSdOwOpiEp6gH3rpz4fAs23AJgN1TFnHo11eYW0mWSmw0RUqvA/viewform?usp=sf_link"><button href="#" class="btn-5 btn-md">Register</button></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">Techathon 2021</span>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Events</li>
                    <li><a href="ideate.html">Ideate</a></li>
                    <li><a href="code_x.html">Code-X.</a></li>
                    <li><a href="data_dash.html">Data Dash</a></li>
                    <li><a href="projects_inc.html">Projects Inc.</a></li>
                    <li><a href="techno_quiz.html">Techno Quiz</a></li>
                    <li><a href="product_development.html">Product Development</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Contact</li>
                    <li><a href="#">+91 8879887262</a></li>
                    <li><a href="#">+91 8879887262</a></li>
                    <li><a href="#">contact@sitesoch.com</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


</body>

</html>